<div class="teste page-wrapper">

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->

    <header class="header-desktop">
      <div class="ml-3 logo">
        <a routerLink="/products">
          <h1 class="text-lg">MundoVariado</h1>
        </a>
      </div>


      <app-search></app-search>

      <app-login-status></app-login-status>

      <app-car-status></app-car-status>

    </header>

    <div [ngClass]="true ? 'mt-5 flex justify-content-center justify-content-around' : 'mt-5 flex justify-content-center'">

      <aside  class="menu">
        <app-product-category-menu></app-product-category-menu>
      </aside>

      <router-outlet></router-outlet>
    </div>


  </div>
</div>

<footer class="roda">
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
