:host ::ng-deep {
  .checkout {
    width: 1150px;
    background-color: white;
  }

  .checkout-form {
    background-color: rgb(224, 224, 224);
  }

  .teste{
    width: 1000px;
    padding-top: 10px;
    max-height: 500px;
    overflow-y: auto;
  }

  .page-m{
    height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #acacac;
  }
}
